BODY {
    width: 600px;
    height: 575px;
    background: #ebebeb;
}

/* 공통 */
li {
    float: left;
    list-style:none;
}
ul {
    width: 580px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0;
}
.fl {float: left;}

/* 리스트 */
.click {cursor: pointer;}
.w20 {width: 20px;}
.w28 {width: 28px;}
.w50 {width: 50px;}
.w140 {width: 140px; margin-left: 10px;}
.rd {width: 40px; border-radius: 5px; overflow: hidden;}
.ct {text-align: center;}
.lf {text-align: left;}
.artist {color: #999;}







#total_box {
    width: 580px;
    margin: 0 auto;
}

.top {
    background: red;
    width: 580px;
    height: 30px;
    margin-bottom: 10px;
}

.top > ul > li:last-child {
    margin-left: 270px;
}

.left {
    background:white;
    border-radius: 10px;
    width: 285px;
    height: 532px;
    overflow: hidden scroll;
}

.left .list {
    width: 285px;
    height: 1000px;
}

.left .list .sub {
    border-bottom: 1px solid #d9d9d9;
    width: 265px;
    margin: 0 0 21px 10px;
}

.left .list .sub > h2 {
    text-align: center;
    margin-bottom: 20px;
}

.left .list .sub .all {
	text-decoration:none;
	text-indent:0px;
	line-height:25px;
	text-align:left;
	vertical-align:middle;
	display:inline-block;
    font-size:12px;
    height:25px;
    border:0;
    background: none;
    cursor: pointer;
    margin-bottom: 7px;
    color: #333;
}

.play {
    margin-left: 5px;
}
.fill {
    margin-left: 10px;
}

.left .list .bottom {
    width: 265px;
    margin-left: 10px;
    text-align: center;
}

.left .list .bottom > ul {
    margin-bottom: 25px;
}

.left .list .bottom > ul > li:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .list .bottom > ul > li:nth-child(3) {
    overflow: hidden;
    white-space: nowrap;
}

.right {
    background: pink;
    border-radius: 10px;
    width: 285px;
    float: right;
    overflow: hidden;
}

.right .video {
    background: gray;
    width: 285px;
    height: 187px;
    /* video 250*187 */
    margin: 0 auto;
    
}

.right .list_box {
    background: orange;
    width: 285px;
    height: 345px;
    margin: 0 auto;
    overflow: hidden scroll;
}

.right .list_box .list {
    background: red;
    width: 285px;
    height: 2000px;
}

