BODY {
    width: 600px;
    height: 575px;
    background: #ebebeb;
}

/* 공통 */
li {
    float: left;
    list-style:none;
}
ul {
    width: 580px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0;
}
.fl {float: left;}

input[type="checkbox"] + label {
    display: inline-block;
    width: 9px;
    height: 9px;
    border: 1px solid #bcbcbc;
    border-radius: 2px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label {
    background: url("../chk.png") no-repeat left top;
    background-color: #bcbcbc;
}

input[type="checkbox"] {
    display: none;
}


/* 리스트 */
.click {cursor: pointer;}
.w20 {width: 20px;}
.w28 {width: 28px;}
.w50 {width: 50px;}
.w140 {width: 140px; margin-left: 10px;}
.w220 {width: 220px; margin-left: 10px;}
.rd {width: 40px; border-radius: 5px; overflow: hidden;}
.ct {text-align: center;}
.lf {text-align: left;}
.artist {color: #999;}







#total_box {
    width: 580px;
    margin: 0 auto;
}

.top {
    width: 580px;
    height: 30px;
    margin-bottom: 10px;
}

.top > ul > li:last-child {
    margin-left: 270px;
}

.left {
    background:white;
    border-radius: 10px;
    width: 285px;
    height: 532px;
    overflow: hidden scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.left::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.left .list {
    width: 285px;
    min-height: 100px;
}

.left .list .sub {
    border-bottom: 1px solid #d9d9d9;
    width: 265px;
    margin: 0 0 21px 10px;
}

.left .list .sub > h2 {
    text-align: center;
    margin-bottom: 20px;
}

.left .list .sub .all,
.right .toolbar > ul {
	text-decoration:none;
	text-indent:0;
	line-height:25px;
	text-align:left;
	vertical-align:middle;
	display:inline-block;
    font-size:12px;
    height:25px;
    border:0;
    background: none;
    cursor: pointer;
    margin-bottom: 7px;
    color: #333;
}

.play {
    margin-left: 2px;
}
.fill {
    margin-left: 10px;
}

.left .list .bottom {
    width: 265px;
    margin-left: 10px;
    text-align: center;
}

.left .list .bottom > ul {
    margin-bottom: 25px;
}

.left .list .bottom > ul > li:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .list .bottom > ul > li:nth-child(3) {
    overflow: hidden;
    white-space: nowrap;
}

.right {
    background: #fff;
    border-radius: 10px;
    width: 285px;
    float: right;
    overflow: hidden;
}

.right .sub_02 {
    margin: 0 0 17px;
}

.right .sub_02 > h2 {
    text-align: center;
    margin-bottom: 15px;
}

.right .video {
    background: gray;
    width: 285px;
    height: 187px;
    /* video 250*187 */
    margin: 0 auto;
    
}

.right .toolbar {
    border-bottom: 1px solid #d9d9d9;
    width: 265px;
    margin-left: 10px;
}


.right .toolbar > ul > li {
    margin: 0 0 10px 15px;
}

.right .toolbar > ul > li:first-child {
    margin-left: 2px;
}

.right .list_box {
    width: 285px;
    height: 246px;
    margin: 0 auto;
    overflow: hidden scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.right::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.right .list_box .list {
    width: 285px;
    min-height: 2000px;
    margin-left: 10px;
}

